.homePage {
  color:           white;
  display:         flex;
  justify-content: center;
  margin-top:      10%;
}

.homePageBanner {
  align-items:    center;
  display:        flex;
  flex-direction: column;
  width:          40%;
}
